*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*HEADER NAV*/
nav {
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }

nav img {
  width: auto;
  height: 35px;
  top: 17px;
  left: 5%;
  position: absolute;
  cursor: pointer; }

ul {
  display: flex;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  justify-items: center; }

li {
  display: inline-block;
  margin-top: 22px; }

a {
  padding: 20px;
  color: black;
  text-decoration: none;
  margin-bottom: 4px;
  transition: all 0.3s ease 0s; }

a:hover {
  color: #70e4ef; }

/*MAIN*/
#contentUno {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto; }

.banner1 {
  width: 100%;
  height: 700px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

video {
  width: 100%;
  height: auto; }

/*SECTION*/
section {
  display: grid;
  width: 100%;
  height: 1300px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 45px 300px 45px 300px;
  grid-template-areas: "t1   t1   t1" "pic1 pic2 pic3" "t2   t2   t2" "pic4 pic5 pic6";
  column-gap: 18px;
  row-gap: 70px;
  justify-content: center;
  align-content: center; }

.titulo1 {
  text-align: center;
  top: 20%;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
  grid-area: t1;
  justify-content: center;
  align-self: end; }

.itop1 {
  grid-area: pic1; }

.itop2 {
  grid-area: pic2; }

.itop3 {
  grid-area: pic3; }

.itop1 img {
  width: 300px;
  height: 300px; }

.itop2 img {
  width: 300px;
  height: 300px; }

.itop3 img {
  width: 300px;
  height: 300px; }

.titulo2 {
  text-align: center;
  top: 20%;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
  grid-area: t2;
  justify-content: center;
  align-self: end; }

.ig1 {
  grid-area: pic4; }

.ig2 {
  grid-area: pic5; }

.ig3 {
  grid-area: pic6; }

.ig1 img {
  width: 300px;
  height: 300px; }

.ig2 img {
  width: 300px;
  height: 300px; }

.ig3 img {
  width: 300px;
  height: 300px; }

/*FOOTER*/
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 500px;
  background-color: black;
  font-family: Arial;
  color: white;
  justify-content: center;
  align-items: center; }

.form h3 {
  font-size: 32px;
  height: 40px;
  margin-bottom: 60px;
  text-align: center; }

.data {
  width: 500px;
  background-color: white;
  padding: 12px;
  font-family: Arial;
  font-size: 18px;
  margin-bottom: 16px; }

.boton {
  width: 500px;
  background-color: yellow;
  border: none;
  padding: 12px;
  color: black;
  font-family: Arial;
  font-size: 18px;
  top: 70px; }

.register {
  background-color: white;
  height: 40px;
  margin-top: 20px; }

h4 {
  text-align: center;
  font-size: 14px;
  font-family: Arial;
  color: grey; }

/* MAIN SECTION-SHOP*/
#modelSocks {
  display: grid;
  width: 100%;
  height: 1000px;
  margin-top: 200px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 120px 300px 120px;
  grid-template-areas: "m1   m2   m3" "p1   p2   p3" "m4   m5   m6" "p4   p5   p6";
  column-gap: 18px;
  row-gap: 18px;
  justify-content: center; }

.modelA {
  grid-area: m1; }

.modelB {
  grid-area: m2; }

.modelC {
  grid-area: m3; }

.modelD {
  grid-area: m4; }

.modelE {
  grid-area: m5; }

.modelF {
  grid-area: m6; }

.modelA img {
  width: 300px;
  height: 300px; }

.modelB img {
  width: 300px;
  height: 300px; }

.modelC img {
  width: 300px;
  height: 300px; }

.modelD img {
  width: 300px;
  height: 300px; }

.modelE img {
  width: 300px;
  height: 300px; }

.modelF img {
  width: 300px;
  height: 300px; }

.nameUno {
  font-family: Arial;
  font-size: 17px;
  font-style: normal; }

.nameDos {
  font-family: Arial;
  font-size: 17px;
  font-style: normal; }

.nameTres {
  font-family: Arial;
  font-size: 17px;
  font-style: normal; }

.nameCuatro {
  font-family: Arial;
  font-size: 17px;
  font-style: normal; }

.nameCinco {
  font-family: Arial;
  font-size: 17px;
  font-style: normal; }

.nameSeis {
  font-family: Arial;
  font-size: 17px;
  font-style: normal; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
  nav {
    height: 400px; }
  nav img {
    height: 60px; }
  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  section {
    height: 2600px;
    grid-template-columns: 300px;
    grid-template-rows: 45px 300px 300px 300px 45px 300px 300px 300px;
    grid-template-areas: "t1" "pic1" "pic2" "pic3" "t2" "pic4" "pic5" "pic6";
    align-items: center; }
  .titulo1 {
    font-size: 26px; }
  .titulo2 {
    font-size: 26px; }
  footer {
    height: 500px; }
  .form h3 {
    font-size: 22px; }
  .register h4 {
    font-size: 12px; }
  #modelSocks {
    height: 2800px;
    grid-template-columns: 300px;
    grid-template-rows: 300px 120px 300px 120px 300px 120px 300px 120px 300px 120px 300px 120px;
    grid-template-areas: "m1" "p1" "m2" "p2" "m3" "p3" "m4" "p4" "m5" "p5" "m6" "p6";
    align-items: start;
    margin-top: 500px; }
  .data {
    width: 300px; }
  .boton {
    width: 300px; }
  .imageGallery {
    grid-template-areas: "img-1 img-1 img-1 img-1" "img-2 img-2 img-2 img-2" "img-3 img-3 img-3 img-3" "img-4 img-4 img-4 img-4" "img-5 img-5 img-5 img-5" "img-6 img-6 img-6 img-6" "img-7 img-7 img-7 img-7" "img-8 img-8 img-8 img-8"; }
  .imageGallery a,
  .img-1,
  .img-6 {
    min-height: 30rem;
    height: 30rem; } }

@media only screen and (max-width: 900px) {
  .imageGallery {
    grid-template-areas: "img-1 img-1 img-2 img-2" "img-1 img-1 img-3 img-3" "img-4 img-4 img-5 img-5" "img-6 img-7 img-7 img-7" "img-8 img-8 img-8 img-8"; }
  .imageGallery a {
    height: 20rem; }
  .img-1 {
    min-height: 41.5rem; }
  .img-6 {
    min-height: 20rem; } }

/* MAIN SECTION-ABOUT */
#contentAbout {
  margin-top: 70px; }

.tituloAbout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 400px;
  font-family: Arial;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center; }

.tituloAbout h2 {
  margin-bottom: 30px;
  font-size: 36px;
  font-style: normal;
  font-weight: bold; }

.tituloAbout p {
  font-size: 17px;
  font-style: normal; }

/* MAIN SECTION-COLLECTION */
#bodyCollect {
  width: 100%;
  margin-top: 70px;
  height: 1400px;
  background-color: #eee;
  display: flex; }

.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5rem; }

.imageGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas: "img-1 img-2 img-3 img-3" "img-1 img-4 img-5 img-6" "img-7 img-7 img-8 img-6"; }

.imageGallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; }

.imageGallery a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  opacity: 0;
  transition: opacity .5s; }

.imageGallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity .5s; }

.imageGallery a:hover i,
.imageGallery a:hover::before {
  opacity: 1; }

.img-1 {
  grid-area: img-1;
  min-height: 51.5rem;
  background-image: url(../img/c1.jpg); }

.img-2 {
  grid-area: img-2;
  background-image: url(../img/c2.jpg); }

.img-3 {
  grid-area: img-3;
  background-image: url(../img/c3.jpg); }

.img-4 {
  grid-area: img-4;
  background-image: url(../img/c4.jpg); }

.img-5 {
  grid-area: img-5;
  background-image: url(../img/c5.jpg); }

.img-6 {
  grid-area: img-6;
  min-height: 51.5rem;
  background-image: url(../img/c6.jpg); }

.img-7 {
  grid-area: img-7;
  background-image: url(../img/c7.jpg); }

.img-8 {
  grid-area: img-8;
  background-image: url(../img/c8.jpg); }

/* MAIN SECTION-HELP */
#bodyHelp {
  width: 100%;
  height: 550px;
  margin-top: 150px; }
  #bodyHelp h3 {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial;
    color: #aaaaaa; }
  #bodyHelp p {
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-family: Arial;
    color: black; }
  #bodyHelp ul {
    display: flex;
    flex-direction: column;
    list-style-type: circle;
    text-align: center;
    align-items: center;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    font-family: Arial; }
